* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
}

.pic {
    width: 100% !important;
    height: auto;
    margin: auto;
}


.sliderLink {
    margin: auto;
    text-decoration: none;
}

.productName {
    color: #f05023;
}

.productPrice {
    color: #000;
    margin-top: 12px;
    font-weight: 500;
}